html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: none;
}

.navbar-brand {
  font-weight: bold;
  color: white !important;
}

#wrapper {
  min-height: 100%;
  padding-top: 70px;
  position: relative;
}

footer#footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  opacity: 0.7;
  font-size: 14px;
}

h5 {
  font-weight: bold;
}

.toggle {
  zoom: 0.6;
  display: inline-block;
  vertical-align: middle;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #ddd;
  border-radius: 60px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  content: "";
}

input.cmn-toggle-round + label:before {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #ddd;
  border-radius: 60px;
  transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #fff;
  border-radius: 100%;
  transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
  background-color: #9CCC65;
}

input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}

#state {
  width: 140px;
  margin: 20px auto;
  text-align: center;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.state-led {
  display: inline-block;
  width: .4em;
  height: .4em;
  margin: 0 20px 3px 0;
  vertical-align: middle;
  background-color: #eee;
  border-radius: 50%;
  -webkit-box-shadow: #212121 0 0 1px 1px, inset #424242 0 -1px 3px, #616161 0 2px 7px;
          box-shadow: #212121 0 0 1px 1px, inset #424242 0 -1px 3px, #616161 0 2px 7px;
}
.state-led.on {
  background-color: #9CCC65;
  -webkit-box-shadow: #33691E 0 0 3px 1px, inset #558B2F 0 -1px 2px, #7CB342 0 2px 10px;
          box-shadow: #33691E 0 0 3px 1px, inset #558B2F 0 -1px 2px, #7CB342 0 2px 10px;
}
.switch .bub {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.switch .bub[disabled] + label {
  color: #ccc;
  cursor: not-allowed;
  background-color: #eee;
  -webkit-box-shadow: 0 0 0 1px #eee inset, 0 0 0 2px rgba(255, 255, 255, .15) inset, 0 8px 0 0 #eee, 0 8px 0 1px rgba(0, 0, 0, .4), 0 8px 8px 1px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 0 1px #eee inset, 0 0 0 2px rgba(255, 255, 255, .15) inset, 0 0 0 1px rgba(0, 0, 0, .4);
          box-shadow: 0 0 0 1px #eee inset, 0 0 0 2px rgba(255, 255, 255, .15) inset, 0 8px 0 0 #eee, 0 8px 0 1px rgba(0, 0, 0, .4), 0 8px 8px 1px rgba(0, 0, 0, .5);
          box-shadow: 0 0 0 1px #eee inset, 0 0 0 2px rgba(255, 255, 255, .15) inset, 0 0 0 1px rgba(0, 0, 0, .4);
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
}
.switch .bub[disabled] + label:active {
  -webkit-box-shadow: 0 0 0 1px #eee inset, 0 0 0 2px rgba(255, 255, 255, .15) inset, 0 0 0 1px rgba(0, 0, 0, .4);
          box-shadow: 0 0 0 1px #eee inset, 0 0 0 2px rgba(255, 255, 255, .15) inset, 0 0 0 1px rgba(0, 0, 0, .4);
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
}
.switch .bub + label {
  position: relative;
  top: 0;
  display: inline-block;
  width: 240px;
  height: 240px;
  line-height: 250px;
  font-size: 160px;
  color: #aaa;
  text-align: center;
  cursor: pointer;
  background-color: #eee;
  border-radius: 140px;
  -webkit-box-shadow: 0 0 0 1px #fff inset, 0 0 0 2px rgba(255, 255, 255, .15) inset, 0 8px 0 0 #aaa, 0 8px 0 1px rgba(0, 0, 0, .4), 0 8px 8px 1px rgba(0, 0, 0, .5);
          box-shadow: 0 0 0 1px #fff inset, 0 0 0 2px rgba(255, 255, 255, .15) inset, 0 8px 0 0 #aaa, 0 8px 0 1px rgba(0, 0, 0, .4), 0 8px 8px 1px rgba(0, 0, 0, .5);
  -webkit-transition: all .15s;
       -o-transition: all .15s;
          transition: all .15s;
}
.switch .bub + label:active {
  -webkit-box-shadow: 0 0 0 1px #aaa inset, 0 0 0 2px rgba(255, 255, 255, .15) inset, 0 0 0 1px rgba(0, 0, 0, .4);
          box-shadow: 0 0 0 1px #aaa inset, 0 0 0 2px rgba(255, 255, 255, .15) inset, 0 0 0 1px rgba(0, 0, 0, .4);
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
}
.switch .bub:checked + label {
  color: #fff;
  background-color: #9CCC65;
  -webkit-box-shadow: 0 0 0 1px #7CB342 inset, 0 0 0 2px rgba(255, 255, 255, .15) inset, 0 8px 0 0 #558B2F, 0 8px 0 1px rgba(0, 0, 0, .4), 0 8px 8px 1px rgba(0, 0, 0, .5);
          box-shadow: 0 0 0 1px #7CB342 inset, 0 0 0 2px rgba(255, 255, 255, .15) inset, 0 8px 0 0 #558B2F, 0 8px 0 1px rgba(0, 0, 0, .4), 0 8px 8px 1px rgba(0, 0, 0, .5);
}
.switch .bub:checked + label:active {
  -webkit-box-shadow: 0 0 0 1px #558B2F inset, 0 0 0 2px rgba(255, 255, 255, .15) inset, 0 0 0 1px rgba(0, 0, 0, .4);
          box-shadow: 0 0 0 1px #558B2F inset, 0 0 0 2px rgba(255, 255, 255, .15) inset, 0 0 0 1px rgba(0, 0, 0, .4);
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
}

.timeinput {
  min-width: 3em;
  max-width: 3em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}